

.App {
  /* text-align: center; */
  background-color: black;
  color: white;
  min-height: 120dvh;
}

.text-section{
  background-color: blueviolet;
  padding: 3rem 1rem 3rem 1rem;
}

.page {
  text-align: center;
  width: 100vw;
}

.page-title{
  font-size: 2rem;
  margin: 2rem;
}

.button-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.item-button{
  margin: 1rem;
}

.item-button:hover{
  transform: scale(1.2);
  border-color: black;
}

.tombstone-item{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.center-text{
  max-width: 400px;
}

.text-section{
  background: rgb(225, 183, 253);
  color: black;
  width: 100vw;
}

.budget-view{
  background-color: rgb(23, 7, 27);
  padding: 2rem;
  border-radius: 20px;
}

.customer-info{
  background-color: rgb(97, 57, 97);
  padding: 2rem;
  border-radius: 20px;
  width: 98vw;
  margin: 1rem;
}

.center-omg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.output {
  font-size: small;
  height: 50vh;
  width: 95vw;
  max-width: 700px;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  overflow: auto;
}